### Assignment 1
#### Aryan Sethi (21BCE0704)

In [98]:
import pandas as pd
import numpy as np

In [99]:
# Task 1: Create a pandas dataframe with random values
data = np.random.randint(0, 100, size= (4,4))
df = pd.DataFrame(data)
df

    0   1   2   3
0  44   6  22  97
1  98  53  95  54
2  26  52   5  68
3  38  62  79  24

In [100]:
# Task 2: Rename the dataframe column names
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0              44               6              22              97
1              98              53              95              54
2              26              52               5              68
3              38              62              79              24

In [101]:
# Task 3: Descriptive statistics of the dataframe
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        51.500000       43.250000       50.250000       60.750000
std         31.890437       25.237208       43.492336       30.346609
min         26.000000        6.000000        5.000000       24.000000
25%         35.000000       40.500000       17.750000       46.500000
50%         41.000000       52.500000       50.500000       61.000000
75%         57.500000       55.250000       83.000000       75.250000
max         98.000000       62.000000       95.000000       97.000000

In [102]:
# Task 4: Check for null values and data types
print("Task 4: Null Values")
null_values = df.isnull().sum()
print(null_values)

print("\nData Types")
df.dtypes

Task 4: Null Values
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types

Random value 1    int32
Random value 2    int32
Random value 3    int32
Random value 4    int32
dtype: object

In [103]:
# Task 5: Display columns using location and index location methods
print("Task 5: Display 'Random value 2' & 'Random value 3' columns using location method\n")
# Using location method
print(df.loc[:, ['Random value 2']])
print(df.loc[:, ['Random value 3']])

print("\nDisplay 'Random value 2' & 'Random value 3' columns using index location method\n")
# Using index location method
print(df.iloc[:, [1]])
print(df.iloc[:, [2]])

Task 5: Display 'Random value 2' & 'Random value 3' columns using location method

   Random value 2
0               6
1              53
2              52
3              62
   Random value 3
0              22
1              95
2               5
3              79

Display 'Random value 2' & 'Random value 3' columns using index location method

   Random value 2
0               6
1              53
2              52
3              62
   Random value 3
0              22
1              95
2               5
3              79